body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px 40px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

h1 {
    margin: 0;
    font-size: 26px;
}

.create-btn {
    display: inline-block;
    text-decoration: none;
    padding: 9px 16px;
    background: #4A7DFF;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
}

.create-btn:hover {
    background: #3b6ae6;
}

.admin-panel-btn {
    display: inline-block;
    text-decoration: none;
    padding: 9px 16px;
    background: #4A7DFF;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
}

.admin-panel-btn:hover {
    background: #3b6ae6;
}

.ticket-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.ticket {
    background: #fafafa;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: 0.2s;
}

.ticket:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.06);
}

.ticket-title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 8px;

    text-decoration: none;
    color: #000
}

.ticket-desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.ticket-meta {
    font-size: 12px;
    color: #777;
    display: flex;
    gap: 15px;
}

.done-form {
    display: inline-block;
    margin-left: 10px;
}

.done-btn {
    background-color: #48c774; /* зелёная */
    color: white;
    padding: 6px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color .2s ease;
}

.done-btn:hover {
    background-color: #3aba67;
}
