body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px 40px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

h1 {
    margin: 0;
    font-size: 26px;
}

.create-btn {
    display: inline-block;
    text-decoration: none;
    padding: 9px 16px;
    background: #4A7DFF;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
}

.create-btn:hover {
    background: #3b6ae6;
}

.admin-panel-btn {
    display: inline-block;
    text-decoration: none;
    padding: 9px 16px;
    background: #4A7DFF;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
}

.admin-panel-btn:hover {
    background: #3b6ae6;
}

.ticket-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.ticket {
    background: #fafafa;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: 0.2s;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
}

.ticket:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.06);
}

.ticket-title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 8px;
}

.ticket-desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.ticket-meta {
    font-size: 12px;
    color: #777;
    display: flex;
    gap: 15px;
}

.ticket-left {
    max-width: 70%;
}

.ticket-right {
    text-align: right;
    font-size: 13px;
    color: #555;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: bold;
}

.ticket-user {
    white-space: nowrap;
}


.comments-btn {
    position: absolute;
    bottom: 12px;   /* отступ от низа карточки */
    right: 12px;    /* отступ от правого края */

    padding: 6px;
    background: #d3d3d3;
    color: #333;
    border-radius: 6px;
    font-size: 12px;
    text-decoration: none;
    /*transition: 0.2s;*/
}

.comments-btn:hover {
    background: #bcbcbc; /*#d3d3d3*/
}


.footer {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid #eee;
    margin-top: 20px;
}

.logout-form {
    margin: 0;
    padding: 0;
}

.logout-btn {
    display: inline-block;
    padding: 12px 24px;
    background: #6c757d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.logout-btn:hover {
    background: #5a6268;
}

.profile-btn {
    display: inline-block;
    text-decoration: none;
    padding: 9px 16px;
    background: #4A7DFF;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
}

.profile-btn:hover {
    background: #3b6ae6;
}