.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
    margin-left: 20px;
}

.ticket-full {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin-top: 5px;
}

.ticket-desc-full {
    font-size: 16px;
    margin-bottom: 20px;
}

.ticket-meta-full p {
    margin: 6px 0;
    color: #555;
}

.ticket-actions {
    margin-top: 25px;
    display: flex;
    gap: 12px;
}

.btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.create-btn {
    display: inline-block;
    text-decoration: none;
    padding: 9px 16px;
    background: #4A7DFF;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
}


.edit-btn {
    background-color: #3273dc;
}

.edit-btn:hover {
    background-color: #2758a5;
}

.status-btn {
    background-color: #48c774;
}

.status-btn:hover {
    background-color: #3aba67;
}
