<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание задачи</title>
</head>
<body>
<h1>This page is for adding new tickets</h1>
<h2>Создать новый тикет</h2>

<form th:action="@{/tickets/new}" th:object="${ticketDto}" method="post">

    <div>
        <label>Название тикета</label><br>
        <input type="text" th:field="*{title}" required>
    </div>

    <div>
        <label>Описание</label><br>
        <textarea th:field="*{description}" required></textarea>
    </div>

    <button type="submit">Создать</button>
</form>
</body>
</html>