<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление тикетами</title>
    <link rel="stylesheet" th:href="@{/css/admin-panel-tickets.css}">
</head>
<body>

<div class="container">

    <div class="header">
        <h1>Управление тикетами</h1>
        <a class="create-btn" th:href="@{/admin}">Назад</a>
    </div>

    <div class="ticket-list">
        <div class="ticket" th:each="ticket : ${tickets}">
            <a class="ticket-title" th:text="${ticket.title}" th:href="@{/admin/tickets-list/{id}(id=${ticket.id})}"></a>
            <div class="ticket-desc" th:text="${ticket.description}"></div>

            <div class="ticket-meta">
                <span th:text="${ticket.status}"></span>
                <span th:text="${#temporals.format(ticket.createdAt, 'dd.MM.yyyy HH:mm:ss')}"></span>
                <span th:if="${ticket.status.name == 'DONE'}">
                    Completed at [[${#temporals.format(ticket.updatedAt, 'dd.MM.yyyy HH:mm:ss')}]]
                </span>
<!--                <form th:action="@{'/admin/tickets-list/' + ${ticket.id} + '/done'}" method="POST" class="done-form">-->
<!--                <form th:action="@{/admin/tickets-list}" method="POST" class="done-form">-->
<!--                    <input th:value="${ticket.id}" name="id" type="hidden">-->
<!--                    <label>-->
<!--                        <select name="newStatus">-->
<!--                            <option th:each="status: ${statuses}"-->
<!--                                    th:value="${status}"-->
<!--                                    th:text="${status}"></option>-->
<!--                        </select>-->
<!--                    </label>-->
<!--                    <button type="submit" class="done-btn">Change Status</button>-->
<!--                </form>-->
            </div>
        </div>
    </div>

</div>

</body>
</html>
