<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<div class="register-container">

    <h2>Регистрация</h2>

    <form th:action="@{/register}" th:method="POST">
        <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}">

        <div class="form-group">
            <label>Логин</label>
            <input type="text" name="username" required>
        </div>

        <div class="form-group">
            <label>Пароль</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit" class="register-btn">Зарегистрироваться</button>

        <a class="login-link" th:href="@{/login}">Уже есть аккаунт? Войти</a>
    </form>

</div>

</body>
</html>
